/* GENERAL STYLES */

p{
    margin: 0%;
    color: #FFFFFF;
}

input{
    box-sizing: border-box;

    margin-left: 0px;
    padding-top: 10px;
    padding-left: 20px;

    font-family: 'Jomhuria';
    font-size: 60px;
    font-weight:normal;
    text-align: left;

    background: linear-gradient(86.23deg, rgba(255, 255, 255, 0.85) 2.47%, rgba(69, 67, 67, 0.5) 97.53%);
    color: rgb(255, 255, 255);
    caret-color: white;
    outline: none;

    border: 3px solid #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button{

    font-family: 'Jomhuria';
    font-size: 45px;

    box-sizing: border-box;

    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0.85) 0%, rgba(210, 210, 210, 0.85) 100%);
    border-radius: 10px;
    border: none;

    color: white;
}

button:hover{
    background: #ffffff;
    color: #000000;
}


::placeholder{
    font-size: 60px;
    text-align: center;

    color: white;
}

/* Overall scrollbar */
::-webkit-scrollbar {
width: 12px;
height: 12px; /* for horizontal scrollbars */
}

/* Track (background) */
::-webkit-scrollbar-track {

border-radius: 6px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0.85) 0%, rgba(210, 210, 210, 0.85) 100%);
border-radius: 6px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
background: #ffffff;
}
  

#main_screen{
    display: none;
}



/* MAIN BODY */

.main{
    display: flex;
    justify-content: center;

    font-family: 'Jomhuria';font-size: 40px;
    font-weight:normal;

    height: 100%;
    width: 100%;

    user-select: none;
}

.Header-Text {
    position: relative;

    font-size: 96px;

    text-align: center;

    height: 80px;
    width: 100%;
}

.codeRewards {
    position: absolute;
    display: block;

    top: 10%;

    width: 668px;
    height: 861px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(115, 115, 115, 0.9) 0%, rgba(60, 59, 59, 0.9) 100%);
    border-radius: 50px;

}

/* EXIT BUTTON */

.exitButton{
    position: absolute;
    box-sizing: border-box;

    font-size:22px;

    z-index: 1;

    padding-top: 7px;

    top: 2%;
    left: 3%;

    width: 38px;
    height: 38px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0.85) 0%, rgba(210, 210, 210, 0.85) 100%);
    border-radius: 10px;
    border: #000000;
    color: white;
}

.exitButtonIcon{
    position: relative;
}

.exitButton:hover{
    background: #ff0000;
    color: #ffffff;
}

/*Bottom Section of rewards selection screen*/

.bottomButtons{
    position: absolute;

    bottom: 0%;

    width: 100%;
    height: 20%;
}

#confirmRewardsButton{
    position: absolute;

    padding-top: 5px;
    font-size: 64px;
    
    top: 10%;
    left: 20%;

    width: 322px;
    height: 60px;
}

#editExistingButton{
    position: absolute;
    display: block;

    padding-top: 2.5px;
    font-size: 32px;
    
    bottom: 20%;
    left: 32%;

    width: 182.05px;
    height: 33px;
}

#existingCodeInput{
    display: none;

    font-size: 32px;

    bottom: 20%;
    left: 32%;

    width: 182.05px;
    height: 33px;
}

#existingCodeInput::placeholder{
    position: absolute;

    font-size: 32px;

    top: 0%;
    left: 25%;
}

/* REWARDS SELECTION SCREEN */

.selectRewardsScreen{
    display: block;

    position: absolute;

    top: 7.5%;
    left: 11.5%;

    width: 76.5%;
    height: 90%;
}

.screens{
    position: absolute;

    top: 15%;

    height: 65%;
    width: 100%;
}

.rewardsListArea{
    display: flex;
    position: absolute;

    overflow-y: scroll;

    align-content: flex-start;

    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;

    height: 90%;
    width: 100%;
}

.screenSelectorButton{
    width: 151px;
    height: 37px;
}

.screenSelectorButtons{
    display: flex;
    justify-content: space-between;
    position: absolute;

    width: 100%;
    top: 5%;
}

/* #SEARCH BAR */

.searchBar{
    position: absolute;
    
    width: 511px;
    height: 52px;
}

/* #REWARD CARD */
.rewardCard{
    position: relative;
    width: 161px;
    height: 93px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0) 0%, rgba(180, 180, 180, 0.25) 38.5%, rgba(210, 210, 210, 0.5) 100%);
    border-radius: 10px;
}

.cardTitle{
    position: absolute;

    font-size: 16px;
    text-align: center;

    top: 0%;
    left: 0%;

    height: 15%;
    width: 100%;
}

.cardImage{
    position: absolute;

    bottom: 15%;
    left: 3%;

    height: 50px;
    width: 114px;
}

.cardButton{
    position: absolute;
    width: 28px;
    height: 28px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0.85) 0%, rgba(210, 210, 210, 0.85) 100%);
    border-radius: 10px;
}

.cardButton:hover{
    background: #ffffff;
    color: #000000;

    .cardButtonIcon{ /* when hovering over the cardButton, the card button icon color is inverted*/
        filter: invert();
        -webkit-filter: invert();
    }
}

.cardButtonIcon{
    position: absolute;
    top: 12.5%;
    left: 13%;
    height: 21px;
    width: 21px;
}

/* VEHICLES SCREEN*/

.vehiclesScreen{
    display: none;

    height: 100%;
    width: 100%;
}

#vehicleRewardsList{
    top:12%;
}


.vehButton {
    bottom: 35%;
    right: 3%;
}

/* MONEY SCREEN*/

.moneyScreen {
    display: block;

    height: 100%;
    width: 100%;
}

.moneyButton {
    bottom: 35%;
    right: 3%;
}

#chooseAmount{
    position: absolute;

    font-size: 48px;
    text-align: center;

    width: 100%;
}

#orCustomAmount{
    position: absolute;

    font-size: 48px;
    text-align: center;

    top: 30%;

    width: 100%; 
}


#moneyPresets{
    justify-content: space-evenly;

    top: 10%;
}

.moneyPreset .cardTitle{
    font-size: 24px;
}

#moneyInput{
    top: 40%;

}

#moneyInput::placeholder{
    position: absolute;

    font-size: 48px;

    top: 10%;
}

.moneyButtons{
    position:absolute;

    display: flex;

    justify-content: space-evenly;

    bottom: 30%;

    width: 100%;
}

#confirmMoney{
    padding-top: 10px;
    font-size: 46px;

    width: 322px;
    height: 60px;
}

#cancelMoney{
    padding-top: 10px;
    font-size: 46px;

    width: 147px;
    height: 60px;
}





/* ITEMS SCREEN*/

.itemsScreen {
    display: none;
}

#itemRewardsList{
    top:12%;
}

.itemAddButton{
    top: 15%;
    right: 5%;
}

.itemRemoveButton{
    bottom: 5%;
    right: 5%;
}

.itemRemoveButton .cardButtonIcon{
    top: 15%;
}

.itemQuantity{
    position: absolute;

    font-size: 15px;
    text-align: center;

    bottom: 38%;
    right: 5%;

    width: 27px;
    height: 13px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 149, 149, 0.85) 0%, rgba(210, 210, 210, 0.85) 100%);
    border-radius: 10px;
    color: white;
}


/*CONFIRM REWARDS SCREEN*/

.confirmRewardsScreen{
    display: none;
}

.sectionTitle{
    color: white;
    font-size: 64px;
    text-align: center;
}

.chosenVehicles{
    position: absolute;

    width: 100%;
    height: 25%;
}

.chosenRewards{
    display: flex;

    align-content: flex-start;

    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;

    margin-left: 13%;

    width: 76%;
    height: 80%;
}

.chosenItems{
    position: absolute;

    width: 100%;
    height: 25%;
}

.chosenMoney{
    position: absolute;

    width: 100%;
    height: 25%;
}